.notification.is-info {color:#ff0000;font-family: 'Roboto', sans-serif;}
.button.is-info {margin:1em 0 0 0;}
.notification.is-primary {background-color: #003366;color: #ffee00;font-family: 'Antic Slab', serif;}