
/* whole page ------------------------------ */
html{
   height:100%;

}
body {
   background-image: linear-gradient( white, #00d1b2);
   min-height:100%;
}
/* classees -------------------------------- */
.title {
   font-family: 'Raleway', sans-serif;
   font-weight: 700;
}

.button.is-info {
   margin-top: 1em;
}

.up {
   color: #0eeb37;
}

.down {
  color: red;
}

.containter.is-desktop { 
   max-width: 1200px;
   min-width: 600x;
}

/* IDs -------------------------------------- */

#currentPrice {
   font-size: 300%;
   font-family: 'Roboto Mono', monospace;
   }

#data {
   font-family: 'Roboto Mono', monospace;
}   

#border {
   border-color: blue;
   border-width: 1em;
}

#articles {
   color: #3273dc;
}

#companyName {
   font-size: 350%;
   color: #00d1b2;
   font-family: 'Roboto Mono', monospace;
   text-transform: uppercase;
}

#companyName p {
   font-size:.5em;
}

#newsArticles {
   font-family: 'Raleway', sans-serif;
   font-size: 95%;
}

#arrow {
   margin-top: 1em;
}